/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMAND */

.container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* DEBUG */
    background-color: aqua  ;
}

.flex{
    width: 70%;
    margin: 0 auto;
    display: flex;
    
    /* DEBUG */
    /* background-color: red; */
}

.white-text{
    color: #e7e7e7;
}

.justify{
    justify-content: space-between;
}

.wrap{
    flex-wrap: wrap;
    
}

.top{
    margin-top: 5rem;
}
.fixed{
    position: fixed;
    top: 0;
    left: 0;
}

.center{
    align-items: center;
}
/* HEADER */
.name{
    font-size: 2rem;
    width: 30%;
    font-weight: 400;
}

.logo{
    width: 50%;
    text-align: center;
}
.account{
    width: 30%;
    text-align: end;
}

.orange{
    background-color: #ff6900;
}


.logo img{
    height: 50px;
}

.z{
    z-index: 10;
}

/* MAIN */

.card{
    width: calc(100% / 3 - 10px);
    margin-top: 3rem;
    position: relative;

    /* DEBUG */ 
    /* border: 1px solid green; */
    /* background-color: lightgoldenrodyellow;
    height: 600px; */
}

.img{
    position: relative;
}

.img img{
    width: 100%;
    /* height: 200px; */
}

.sale{
    color: white;
    padding: 0.4em;

}

.red{
    background-color: red;
}

.percent{
    position: absolute;
    left: 0px;
    bottom: 10%;
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 3rem;
    width: 15%;
    height: 10%;
    position: absolute;
    right: 0;
    top: 20px;
}

.description{
    position: absolute;
    left: 0;
    bottom: 20px;
}

.tred{
    color: red;
}

.tunderline{
    font-weight: 300;
    text-decoration: line-through;
}

.green{
    background-color: green;
    position: absolute;
    left: 12%;
    bottom: 10%;

}

.square:hover{
    color: red;
}

.second{
    opacity: 0;
    position:absolute;
    top: 0;
    left: 0;
}
.first:hover{
    visibility: hidden;
}

.second:hover{
    opacity: 1;
}