/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMAND */

.container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* DEBUG */
    background-color: aqua  ;
}

.flex{
    width: 70%;
    margin: 0 auto;
    display: flex;
    
    /* DEBUG */
    /* background-color: red; */
}

.white-text{
    color: #e7e7e7;
}

.justify{
    justify-content: space-between;
}

.wrap{
    flex-wrap: wrap;
    
}

.top{
    margin-top: 5rem;
}
.fixed{
    position: fixed;
    top: 0;
    left: 0;
}

.center{
    align-items: center;
}
/* HEADER */
.name{
    font-size: 2rem;
    width: 30%;
    font-weight: 400;
}

.logo{
    width: 50%;
    text-align: center;
}
.account{
    width: 30%;
    text-align: end;
}

.orange{
    background-color: #ff6900;
}


.logo img{
    
    height: 50px;
}


/* MAIN */

.card{
    width: calc(100% / 3 - 10px);
    margin-top: 3rem;

    /* DEBUG */ 
    border: 1px solid green;
    background-color: lightgoldenrodyellow;
    height: 600px;
}

